@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme-color: rgb(228, 99, 66);
}

.router-link-active div {
    color: rgb(228, 99, 66);
}

.theme-color {
    color: rgb(228, 99, 66);
}